<?xml version="1.0" encoding="UTF-8"?>

<!-- azure -->
<!--
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform
            processPath="D:\home\site\wwwroot\azureapp.exe"
            arguments=""
            stdoutLogEnabled="true"
            stdoutLogFile="scrm.log" />
    </system.webServer>
</configuration>
-->

<!-- iis -->
<!--
<configuration>
    <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore
        processPath="scrm.exe"
        arguments=""
        stdoutLogEnabled="true"
        stdoutLogFile="scrm.log"/>
  </system.webServer>
</configuration>
-->